In [1]:
import pandas as pd

In [4]:
path = 'cars.csv'

In [7]:
data = pd.read_csv(path, ';')

In [9]:
data.head(10)

,car_type,brand,passenger_seats_count,photo_file_name,body_whl,carrying,extra
0,car,Nissan xTtrail,4.0,f1.jpeg,NaN,2.5,NaN
1,truck,Man,NaN,f2.png,8x3x2.5,20.0,NaN
2,truck,Man,NaN,f2.png,NaN,20.0,NaN
3,car,Mazda 6,4.0,f3.jpeg,NaN,2.5,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,spec_machine,Hitachi,NaN,f4,NaN,1.2,Легкая техника для уборки снега

In [12]:
import os
os.path.splitext('f3.jpeg')[1][1:]

'jpeg'

In [29]:
s = 'ss'
print(list(map(float,s.split('x'))))

ValueError: could not convert string to float: 'ss'

In [23]:
try:
    if type(float('5')) == float:
        print('OK')
except ValueError:
    pass

OK

In [25]:
os.path.splitext('1.jpg')[1]

'.jpg'

In [32]:
try:
    if int('1') > 0:
        print('OK')
except:
    print('ERR')

OK

In [33]:
type('')

str

In [3]:
import os
os.path.splitext('1')

('1', '')